# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/
pip-freeze.txt # Often regenerated, so sometimes ignored
pipenv.lock

# IDE specific
.vscode/
.idea/

# Streamlit
.streamlit/

# OS specific
.DS_Store
Thumbs.db